<div ng-controller="NewController">
	<div ng-show="!showCheckout && !showCinema && !showPayment">
		<div class="bar bar-header bar-assertive">
		  <div class="h1 title">Choose Mall</div>
		  <button class="button button-icon icon super-ion-person" ng-click="showAccount()"></button>
		</div>
		<div class="content has-header">
			<div class="list">
				<a class="item" ng-repeat="mall in malls" ng-click="showChains(mall.id)">
					<h2>{{mall.name}}</h2>
				</a>
			</div>
		</div>
	</div>

	<div ng-show="showCheckout">
		<div class="bar bar-header bar-assertive">
	      <button class="button button-icon icon super-chevron-left" ng-click="goBack()"></button>
	      <div class="h1 title">Your Bag</div>
	 	</div>
	
		<div class="content has-header">
			<div class="row">
				<div class="col"><strong>Item</strong></div>
				<div class="col text-right"><strong>Qty</strong></div>
				<div class="col text-right"><strong>Price</strong></div>
				<div class="col"></div>
			</div>
			<div class="row" ng-repeat="orderItem in orderItems">
				<div class="col">
					{{orderItem.name}}
				</div>
				<div class="col text-right">
					{{orderItem.quantity}}
				</div>
				<div class="col text-right">
					{{orderItem.subtotal}}
				</div>
				<div class="col"><button type="button" class="button" ng-click="removeFromBag(orderItem);">Remove</button></div>
			</div>
			<div class="row">
				<div class="col"></div>
				<div class="col text-right"><strong>Total</strong></div>
				<div class="col text-right"><strong>{{orderTotal}}</strong></div>
			</div>
		</div>
	</div>

	<div ng-show="showCinema">
		<div class="bar bar-header bar-assertive">
	      <button class="button button-icon icon super-chevron-left" ng-click="proceedToCheckout()"></button>
	      <div class="h1 title">Enter Cinema Details</div>
	 	</div>

	 	<div class="content has-header">
	 		<div class="item">
				<input type="text" placeholder="Cinema Number" ng-model="order.cinema_number">
			</div>
			<div class="item">
				 <div class="input-label">
      				Payment Method
    			</div>
    			<select ng-model="order.payment_method">
      				<option value="1">Credit Card</option>
      				<option value="0" selected>Snackhub Credit</option>
    			</select>
    			</div>
			<div class="item">
				<input type="text" placeholder="Remarks" ng-model="order.remarks">
			</div>
			<div class="item">
				<input type="text" placeholder="Contact Number" ng-model="order.contact_number">
			</div>
	 	</div>
	</div>

	<div ng-show="showPayment">
		<div class="bar bar-header bar-assertive">
	      <button class="button button-icon icon super-chevron-left" ng-click="proceedToCinema()"></button>
	      <div class="h1 title">Enter Payment Details</div>
	 	</div>
	 	<div class="content has-header" ng-if="order.payment_method == 0">
	 		<h1>{{user.account_balance}}</h1>
	 		<h1>{{orderTotal}} will be deducted from your account</h1>

	 			<div class="item" ng-show="showPayment">
					<div class="button-bar">
					<button class="button button-assertive" ng-click="makePayment()">Pay Now</button>
					</div>
				</div>
	 	</div>

	 	<div class="content has-header" ng-if="order.payment_method == 1">
	 		<div class="item " ng-if="errors">
	 			<h4 class="assertive text-center">{{errors}}</h4>
	 		</div>

	 		<div class="item">
				<input type="number" placeholder="Credit Card Number" ng-model="payment.credit_card_number">
			</div>

			<div class="item">
				<div class ="input-label">
				Credit Card Type
			
				</div>
				<select ng-model="payment.credit_card_type">
				<option>Master Card</option>
				<option selected>visa</option>
				<option>Jcb</option>
				</select>
			</div>

			<div class="item">
				<input type="number" placeholder="Expiry Month" ng-model="payment.expiry_month">
			</div>

			<div class="item">
				<input type="number" placeholder="Expiry Year" ng-model="payment.expiry_year">
			</div>

			<div class="item">
				<input type="number" placeholder="CVV" ng-model="payment.cvv">
			</div>

			<div class="item">
				<input type="text" placeholder="Credit Card Holder First Name" ng-model="payment.first_name">
			</div>
			<div class="item">
				<input type="text" placeholder="Credit Card Holder Last Name" ng-model="payment.last_name">
			</div>
			 	<div class="item" ng-show="showPayment">
					<div class="button-bar">
						<button class="button button-assertive" ng-click="makePayment()">Pay Now</button>
					</div>
				</div>
	 	</div>


	</div>

	<div class="bar bar-footer bar-assertive" ng-show="showCheckout && orderTotal > 0">
		<div class="button-bar">
			<button class="button button-clear" ng-click="proceedToCinema()">Proceed to Cinema Details</button>
		</div>
	</div>

	<div class="bar bar-footer bar-assertive" ng-show="showCinema">
		<div class="button-bar">
			<button class="button button-clear" ng-disabled="(order.cinema_number == null || order.cinema_number == '') || (order.contact_number == null || order.contact_number == '')" ng-click="proceedToPayment()">Proceed to Payment</button>
		</div>
	</div>

	
</div>