<div class="item">
	<input type="text" placeholder="Email" ng-model="user.email">
</div>
<div class="item">
	<input type="password" placeholder="Password" ng-model="user.password" ng-enter="register()">
</div>

<div class="item">
	<input type="text" placeholder="First Name" ng-model="user.first_name">
</div>

<div class="item">
	<input type="text" placeholder="Last Name" ng-model="user.last_name">
</div>

<div class="item">
	<button class="button button-block" ng-click="register()">Register</button>
</div>
<div class ="item">
	<button class="button button-clear" ng-click="showLogin()">Already have an account</button>
</div>