<div class="item">
	<input type="text" placeholder="Email" ng-model="$parent.email">
</div>
<div class="item">
	<input type="text" placeholder="Password" ng-model="$parent.password" ng-enter="register()">
</div>

<div class="item">
	<input type="text" placeholder="First Name" ng-model="$parent.first_name">
</div>

<div class="item">
	<input type="text" placeholder="Last Name" ng-model="$parent.last_name">
</div>

<div class="item">
	<input type="text" placeholder="Contact Number" ng-model="$parent.contact_number">
</div>

<div class="item">
	<button class="button button-block" ng-click="register()">Register</button>
</div>