<div class="padding" ng-controller="IndexController">
	<center><h1>Welcome to Snackhub</h1></center>

	<div ng-include="'_login.html'" ng-show="currentPage == 'login'" id="login-page"></div>
	<div ng-include="'_register.html'" ng-show="currentPage == 'register'" id="register-page"></div>

	<div class="bar bar-footer bar-assertive">
		<div class="button-bar" ng-show="currentPage == 'welcome'">
			<button class="button button-clear" ng-click="showLogin()">Login</button>
			<button class="button button-clear" ng-click="showRegister()">Register</button>
		</div>

		<div class="button-bar" ng-show="currentPage != 'welcome'">
			<button class="button button-clear" ng-click="showWelcome()">Back</button>
		</div>
	</div>

</div>