<div ng-controller="AccountController">
  <div class="bar bar-header bar-assertive">
      <button class="button button-icon icon super-chevron-left" ng-click="goBack()"></button>
      <div class="h1 title">My Account</div>
    </div>
  <div class="content has-header">
    <div class="item">
      <h4>{{email}}</h4>
      <p>{{first_name}} {{last_name}}</p>
    </div>
    <div class="list">
      <a class="item" ng-click="home()">
        <h2>Home</h2>
      </a>
      <a class="item" ng-click="showHistory()">
        <h2>Order History</h2>
      </a>
      <button class="button button-block button-assertive" ng-click="logout()"> Logout </button>
    </div>
  </div>
</div>